:root {
  --first-color: #ff914d;
  --second-color: #252323;
  --third-color: #70798c;
  --fourth-color: #f5fbef;
  --olive-green-color: #84c318;
  --sla-green-color: #4da537;
  --red-color: #da3422;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--second-color);
}

a {
  text-decoration: none;
  color: var(--second-color);
}

.header-main {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo-link {
  height: 2rem;
  width: auto;
}

.logo {
  height: 100%;
}

.left {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.account,
.favorites {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.favorites,
.account,
.favorites svg {
  height: 2rem;
  width: 2rem;
}

.account img {
  border-radius: 50%;
}

.account img {
  height: 100%;
}

header {
  color: var(--second-color);
}

.overflow-hidden {
  overflow: hidden;
}

.hamburger-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border: none;
  background: none;
  outline: none;
}

.hamburger-menu .bar {
  width: 1.5rem;
  height: 0.33rem;
  background-color: var(--second-color);
  border-radius: 1rem;
  transition: all 0.4s ease-in-out;
}

.hamburger-menu .bar::after,
.hamburger-menu .bar::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1.5rem;
  height: 0.33rem;
  background-color: var(--second-color);
  border-radius: 1rem;
  transition: all 0.4s ease-in-out;
}

.hamburger-menu .bar::before {
  transform: translateY(-0.65rem);
}

.hamburger-menu .bar::after {
  transform: translateY(0.65rem);
}

.hamburger-menu.open .bar {
  transform: translateX(-50px);
  background: transparent;
}

.hamburger-menu.open .bar::after {
  transform: rotate(45deg) translate(35px, -35px);
}

.hamburger-menu.open .bar::before {
  transform: rotate(-45deg) translate(35px, 35px);
}

.header-secondary {
  position: fixed;
  overflow-y: scroll;
  z-index: 3;
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  border-width: 1px 0 0;
  border-color: #dad9d9;
  border-style: solid;
  right: 100%;
  transition: 0.4s;
}

.header-secondary.is-active {
  right: 0;
}

.header-main .right.not-visible {
  visibility: hidden;
}

.menu-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.menu-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.75rem 0;
}

.menu-item span {
  padding: 0;
  font-weight: bold;
}

.menu-item .link {
  font-weight: bold;
}

.menu-item:not(:last-child) {
  border-width: 0 0 1px;
  border-color: var(--third-color);
  border-style: solid;
}

.hover-underline {
  display: inline-block;
  position: relative;
  color: var(--red-color);
}

.hover-underline:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--red-color);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom right;
}

.hero {
  width: 100%;
  height: 60vh;
  color: var(--second-color);

  background-image: url("../img/hero-mobile.png");
  background-color: var(--fourth-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;

  display: grid;
  place-content: center;
  margin-bottom: 1.5rem;
}

.hero-content {
  text-align: center;
  padding: 1rem;
}

.hero-content h1 {
  font-size: 2rem;
  user-select: none;
  margin-bottom: 1rem;
  color: var(--second-color);
}

.search-form {
  background-color: #fff;
  border-radius: 1rem;
  width: 100%;
  cursor: text;
}

.search-form input {
  width: 85%;
  height: 100%;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  color: var(--second-color);
  letter-spacing: 1px;
}

.search-form input::placeholder {
  color: var(--third-color);
}

.search-form input:focus {
  outline: none;
}

.popular-collections,
.quick-recipes,
.news {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.collections,
.news-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.collection-item {
  grid-column: span 1;
  max-height: 150px;
}

.collection-link.seafood {
  display: inline-block;
  width: 100%;
  height: 150px;
  background-image: url("../img/seafood.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 150%;
  border-radius: 1rem;
  position: relative;
  color: var(--second-color);
  transition: background-size 0.5s ease;
}

.collection-link.breakfast {
  display: inline-block;
  width: 100%;
  height: 150px;
  background-image: url("../img/Breakfast.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 150%;
  border-radius: 1rem;
  position: relative;
  color: var(--second-color);
  transition: background-size 0.5s ease;
}

.collection-link.dinner {
  display: inline-block;
  width: 100%;
  height: 150px;
  background-image: url("../img/dinner.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 150%;
  border-radius: 1rem;
  position: relative;
  color: var(--second-color);
  transition: background-size 0.5s ease;
}

.collection-link.salads {
  display: inline-block;
  width: 100%;
  height: 150px;
  background-image: url("../img/Salads.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 150%;
  border-radius: 1rem;
  position: relative;
  color: var(--second-color);
  transition: background-size 0.5s ease;
}

.collection-link:hover {
  background-size: 200%;
}

.collection-item p {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 50px 15px 10px 15px;
  border-radius: 1rem;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );

  color: var(--fourth-color);
  font-weight: bold;
}

.all-collections,
.all-recipes,
.all-news {
  background-color: var(--first-color);
  color: var(--fourth-color);
  padding: 10px;
  border-radius: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  transition: filter 0.5s ease;
}

.all-collections:hover,
.all-recipes:hover,
.all-news:hover,
.favo-btn:hover {
  filter: saturate(1.6);
}

.recipes {
  display: grid;
  gap: 1rem;
}

.recipe-item,
.news-item {
  background-color: var(--fourth-color);
  border-radius: 1rem;
}

.recipe-item .description {
  padding: 0.5rem 0.5rem 1rem;
  color: var(--third-color);
}

.description h3 {
  color: var(--red-color);
  font-style: oblique;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.recipe-item .top {
  position: relative;
}

.recipe-item img {
  width: 100%;
  height: auto;
  border-radius: 1rem 1rem 0 0;
}

.favo-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 5px;
  border-radius: 50%;
  border: none;
  background-color: var(--red-color);
  cursor: pointer;
  transition: filter 0.5s ease;
}

.recipe-item svg {
  width: 100%;
  height: auto;
}

.review {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.review svg {
  width: 20px;
  height: 20px;
}

.rating {
  display: flex;
  align-items: center;
}

.rating-total {
  user-select: none;
}

.news-item h3 {
  letter-spacing: 1px;
  font-size: small;
  padding: 0.5rem 0.5rem 1rem;
  color: var(--third-color);
}

.news-item img {
  height: 150px;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

footer {
  background-color: var(--second-color);
  padding: 1rem;
  display: grid;
  place-items: center;
  margin-top: 1.5rem;
}

footer p {
  color: var(--fourth-color);
  letter-spacing: 1px;
}

@media screen and (min-width: 500px) {
  .hero {
    height: 65vh;
  }
  .hero-content {
    min-width: 400px;
  }
  .recipes {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 640px) {
  .hero {
    height: 40vh;
    background-image: url("../img/hero.jpg");
  }
  .hero-content {
    min-width: 500px;
  }
  .collections {
    grid-template-columns: repeat(4, 1fr);
  }
  .recipes {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 840px) {
  .hamburger-menu {
    display: none;
  }
  .header-main {
    justify-content: space-between;
    position: unset;
  }
  .logo-link {
    height: 3rem;
    width: auto;
  }
  .favorites,
  .account,
  .favorites svg {
    height: 3rem;
    width: 3rem;
  }
  .header-secondary {
    all: unset;
  }

  .menu-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  .menu-item {
    display: unset;
    width: unset;
    padding: unset;
  }

  .menu-item span {
    display: none;
  }

  .menu-item .link {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .menu-item:not(:last-child) {
    border-width: unset;
    border-color: unset;
    border-style: unset;
  }

  .menu-item.mobile {
    display: none;
  }
  .hover-underline {
    color: var(--first-color);
  }
  .hover-underline:after {
    background-color: var(--first-color);
  }
  .news-items {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1008px) {
  .hero {
    height: 50vh;
  }
  .collection-link.seafood,
  .collection-link.breakfast,
  .collection-link.dinner,
  .collection-link.salads {
    height: 200px;
  }
  .collection-item {
    max-height: 350px;
  }
  .collections {
    min-width: 900px;
    margin: 0 auto;
  }
  .all-collections,
  .all-recipes,
  .all-news {
    min-width: 300px;
    margin: 0 auto;
  }
  .recipes {
    grid-template-columns: repeat(4, 1fr);
  }
  .recipes,
  .news,
  .header-main {
    max-width: 900px;
    margin: 0 auto;
  }
  .menu-items {
    gap: 2rem;
  }
}

@media screen and (min-width: 1300px) {
  .hero {
    height: 60vh;
  }
  .collection-link.seafood,
  .collection-link.breakfast,
  .collection-link.dinner,
  .collection-link.salads {
    height: 260px;
  }
  .collection-item {
    max-height: 350px;
  }
  .collections {
    min-width: 1200px;
    margin: 0 auto;
  }
  .recipes,
  .news,
  .header-main {
    max-width: 1200px;
  }
}
